<!-- (original) 'tabbed carousel' section is made out of two parts:
    first one is a static <h2><h3> pair of titles chosen by the section settings
    second one is a 'tabbed' header + 'tabbed' body with 4 featured products

    below snippet replaces part #2 from above-mentioned
-->

<div class="tabbed-header">
    <div class="tabbed-title">Previously viewed.</div>
  </div>
  <div class="tabbed-body">
      <div class="products-carousel owl-carousel owl-carousel-slider-hdd" id="tabbed-previouslyViewed">
      </div>
  </div>